html {
  scrollbar-color: #282b45 transparent;
  scrollbar-width: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
  // background: rgba(204, 229, 255, 0.2);
  // background: rgba(43, 46, 74, 0.1);
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background: #39407f;
  border-radius: 25px;
}
